header {
	background: #faeaea;
	height: 100vh;
	position: relative;
	margin-bottom: 3em;
}

header > div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

nav {
	background: #faeaea;
	padding: 1em 0 10em;
	margin-top: 3em;
}

p,
header time,
nav div,
ol, ul,
table,
h1, h2, h3, h4, h5, h6,
blockquote {
	max-width: 660px;
	margin: 1em auto;
	padding: 0 1em;
}

h1 {
	font-size: 2em;
	padding: 0 0.5em;
}

h2 {
	font-size: 1.5em;
	padding: 0 0.66666em;
}

h3 {
	font-size: 1.2em;
	padding: 0 0.83333em;
}

h4, h5, h6 {
	font-size: 1em;
}

header p,
header time {
	display: block;
	font-style: italic;
}

figcaption {
	margin: 1em 0;
}

header h1 {
	padding: 0 0.75em;
}

header time {
	padding: 0 2em;
}

p,
time,
li {
	font-family:
		"content-serif",
		Georgia,
		Cambria,
		"Times New Roman",
		Times,
		serif;
}

a {
	text-shadow: .03em 0 #fff, -.03em 0 #fff, 0 .03em #fff, 0 -.03em #fff, .06em 0 #fff, -.06em 0 #fff, .09em 0 #fff, -.09em 0 #fff, .12em 0 #fff, -.12em 0 #fff;
	text-decoration: none;
	background-image: linear-gradient( #fff, #fff ), linear-gradient( #fff, #fff ), linear-gradient(to bottom,currentColor 25%, transparent 25%);
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
	background-position: 0% 95%, 100% 95%, 0% 95%;
}

nav a {
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
	font-family:
		"content-sans",
		"Lucida Grande",
		"Lucida Sans Unicode",
		"Lucida Sans",
		Geneva,
		Verdana,
		sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
time a,
figcaption a {
	background-position: 0% 90%, 100% 90%, 0% 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

figcaption {
    font-feature-settings: "liga" on,"lnum" on;
    -moz-font-feature-settings: "liga" on,"lnum" on;
    -webkit-font-feature-settings: "liga" on,"lnum" on;
}

img,
embed,
iframe,
object,
figure {
	display: block;
	max-width: 100%;
	margin: 2em auto;
}

img {
	height: auto;
}

table {
	width: 100%;
}

figure img {
	margin: 0 auto;
}

.alignleft {
	display: inline;
	float: left;
	margin: 0.5em 1em 0.5em;
	max-width: 50%;
}

.alignright {
	display: inline;
	float: right;
	margin: 0.5em 1em 0.5em;
	max-width: 50%;
}

p .alignleft {
	margin-left: 0;
}

p .alignright {
	margin-right: 0;
}

@media screen and ( max-width: 30em ){
	.alignleft,
	.alignright {
		display: block;
		float: none;
		margin: 1em auto;
		max-width: 100%;
	}
}

.gallery {
	margin: 1em 0;
}

.gallery-item {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

figcaption {
	font-size: 0.75em;
	/*color: #8D7A57;*/
}

header p,
time {
	opacity: 0.75;
}

a {
	color: inherit;
}

a:focus {
	outline: thin solid #000;
	outline-offset: 0.05em;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	/*quotes: "" "";*/
}

pre,
*:not(pre) > code {
	font-family:
		Menlo,
		Monaco,
		"Courier New",
		Courier,
		monospace;
	font-size: 0.75em;
	background: rgba( 0, 0, 0, 0.05 );
}

pre {
	padding: 1em;
    margin: 1em 0;
}

*:not(pre) > code {
	padding: 0.125em;
}

ul,
ol {
	padding-left: 2.5em;
}

ul {
	list-style: none;
}

li {
	margin: 0.5em 0;
}

ul > li:before {
    padding-top: 0.1em;
    content: '•';
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 1.5em;
    margin-left: -1.5em;
    text-align: center;
}

#notes ul {
	list-style: none;
	padding-left: 1em;
}

#notes ul > li:before {
	content: '';
}
